.selectServico{

}

.selectSalao{

}

.selectFuncionarios{

}

.selectAutonomos{    
}

.selectPagamentos{

}

.react-select__control {
  height: 50px;
}

.date-time-picker {
  height: 50px;
}

.allSelects{
    position: absolute;
    margin-top: 1000px;
    width: 40px;
}