.react-select__control {
  margin-top: 30px;
  height: 50px;
  text-align: center;
}

.dateTimePickerStyle {
  padding-bottom: 50px;
  margin-top: 35px;
  text-align: center;
}

.allSelects{
  margin-top: 20px;
  border: 5px solid rgba(0, 0, 0, 0);
  background-color: rgba(48, 48, 48, 0.726);
  border-radius: 80px;
  padding-bottom: 60px;
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
}

.titleSchedule{
  font-size: 32px;
  width: 1500px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -100px;
  background-color:  rgba(0, 0, 0, 0.747);
  color: rgb(255, 196, 0);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.btnAgendar{
  margin-bottom: -460px;
  width: 475px;
}

.stbLogoBack{
    background-Image: url("http://localhost:3000/images/Beauty.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-attachment: fixed;
    background-position-y: 265px;
    background-position-x: 730px;
    overflow: hidden;

}

